/*==================
    global styles
==================*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
    background-color: black;
    background-image: linear-gradient(70deg, black, black, rgb(64, 0, 92));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

/*==================
    typography
==================*/

h1 {
    font-size: 1.9rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin: 1% 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

ul {
    list-style-type: none;
}

legend {
    font-weight: bold;
}

a:hover {
    color: rgb(84, 0, 121);
}

/*===========
    header
===========*/

header {
    width: 90%;
    margin: auto;
}

.small_logo {
    width: 200px;
}

/*===========
    nav
===========*/

nav {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: violet;
    padding: 5px;
}

nav * {
    font-size: 1.1rem;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

nav ul {
    height: 0;
    transform: translateX(-300px);
    width: 100%;
    margin: 0;
}

nav li {
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    display: block;
}

.small_icon {
    width: 20px;
}

/* menu toggle */

#menu-toggle {
    display: none;
}

#menu-toggle:checked~ul {
    margin-top: 20px;
    padding-left: 5%;
    height: 100%;
    display: inline-block;
    transform: translateX(0px);
    transition: transform 150ms ease-in;
}

[for="menu-toggle"] {
    display: block;
    padding: 0;
    margin-left: 5%;
    font-size: 1.3rem;
}

[for="menu-toggle"]:hover {
    color: rgb(84, 0, 121);
}

/*=========
    main 
=========*/

main {
    margin: 2% 5% 50px 5%;
}

main a {
    color: violet;
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

/* main flex */

.flexbox-container {
    display: block;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.flexbox-container section {
    display: inline-block;
    padding: 0;
    margin: 10px 30px 5px 0;
    width: 150px;
    text-align: center;
}

.flexbox-container img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.flexbox-container a {
    display: block;
    margin-top: 10px;
    color: white;
    font-weight: bold;
}

.flexbox-container a:hover {
    color: darkviolet;
}

/* section */

.info_section {
    width: 90%;
}

.info_section a, table {
    display: block;
    margin-top: 2%;
}

.info_section img {
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
}

/* article */

article {
    min-height: article img;
    width: 100%;
}

article img {
    float: left;
    margin-right: 4%;
    margin-bottom: 20px;
}

/* aside */

aside {
    width: 30%;
    float: right;
    margin-left: 20px;
}

aside img {
    float: right;
    max-width: 100%;
    min-width: 100px;
    margin-bottom: 20px;
}

/*table*/

th {
    font-weight: bold;
    text-align: left;
    padding-right: 10px;
}

/* form */

form {
    margin-top: 40px;
}

form ul {
    width: 100%;
    margin: 0 20% 0 0;
    padding-right: 10%;
    text-align: center;
}

form li {
    margin-top: 10px;
    display: block;
}

form label {
    display: block;
}

form fieldset {
    align-items: flex-end;
}

form span {
    margin-left: 1.5rem;
}

form .button {
    color: black;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

form .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.search-form {
    width: 100%;
    text-align: end;
    margin-top: 0;
}

.search-form input {
    border-radius: 16px;
}

.search-form button {
    border-radius: 8px;
}

/* img */

.small_image {
    width: 150px;
}

.medium_image {
    width: 200px;
}

/* iframe */

iframe {
    width: 100%;
    height: 315px;
}

/*============
    footer 
============*/

footer {
    margin-top: 100px;
    display: block;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 1% 5%;
    background-color: black;
    color: white;
    font-size: 0.9rem;
    text-align: end;
}